.text1{
    font-weight: bold;
}

.backColor{
    background-color: #DD72A6 !important;
}

.sobrenos{
    color: #49326B !important;
    font-weight: bold !important;
}

.sobre{
    color: #DD72A6 !important;
    font-weight: bold !important;
}