.box{
    background-color: #A359A0;
    height: 120px;
}

.box2{
    background-color: #A359A0;
    height: 60px;
}

.redes{
    font-size: 60px !important; 
    color: #f2e8db;
}

.textos{
    color: #f2e8db;
}