.caixa{
    background-color: #A359A0 !important;
}

.titulo{
    color: #49326B !important;
    font-weight: bold !important;
}

.text{
    color: #F2E8DB !important;
     font-weight: bold; 
}

.botao{
    border-color: #F2E8DB !important;
    background-color: #DD72A6 !important;
    color: #F2E8DB !important;
}

.postagem{
    background-color: white;
}
