.text-decorator-none{
    text-decoration: none !important;
}

.Logo {
    background-image: url(https://cdn-icons.flaticon.com/png/512/3227/premium/3227053.png?token=exp=1646752535~hmac=4bf14843a882d21a7414d56b76cccc05) ;
    background-repeat: no-repeat;
    width: auto;
    min-height: auto;
    background-size: cover;
    background-position: center;
}

.Nav {
    background-color: #a359a0 !important;
    text-decoration: none;
    direction: center;
}

.botaonav{
    border-color: #F2E8DB !important;
    background-color: #a359a0 !important;
    color: #F2E8DB !important;
}