.cursor{
    cursor: pointer;
    color: white !important;
}

.text-decorator-none{
    text-decoration: none !important;
}

.Logo {
    background-image: url(https://cdn-icons.flaticon.com/png/512/4212/premium/4212480.png?token=exp=1645718162~hmac=8a9961bd9ff34a9249ef4be8658130c2) ;
    background-repeat: no-repeat;
    width: auto;
    min-height: auto;
    background-size: cover;
    background-position: center;
}

.Nav {
    background-color: #a359a0 !important;
    text-decoration: none;
    direction: center;
}

