.text-decorator-none{
    text-decoration: none;
}

.btatualizar{
    border-color: #F2E8DB !important;
    background-color: #DD72A6 !important;
    color: #F2E8DB !important;
}

.btdeletar{
    border-color: #F2E8DB !important;
    background-color: #a359a0 !important;
    color: #F2E8DB !important;
}

.textPostagens{
    color: #a359a0 !important;
}