.sim{
    border-color: #F2E8DB !important;
    background-color: #DD72A6 !important;
    color: #F2E8DB !important;
}

.nao{
    border-color: #F2E8DB !important;
    background-color: #a359a0 !important;
    color: #F2E8DB !important;
}

.textodeletar{
    color: #DD72A6 !important;
    font-weight: bold !important;
}